<!-- <textarea name="comment" id="comment" cols="30" rows="3"></textarea> -->
<!-- <div class="sendComment">
  <button class="btn btn-primary mt-1">Gửi comment</button>
</div> -->

<h4>Báo lỗi (2)</h4>
<div class="comments">
  <div class="comment">
    <p class="comment-content">Why the video buffering on this site is so slow. I have Internet speed of 5 MB/S (not megabits , megabyte it is ).</p>
    <div class="comment-info">
      <p>Posted
        <strong>on Nov 8, 2017</strong> by
        <strong>Atif Imam</strong>
      </p>
    </div>
  </div>

  <div class="comment">
    <p class="comment-content">Changing what am Studying</p>
    <div class="comment-info">
      <p>Posted
        <strong>on Sep 21, 2017</strong> by
        <strong>Brian Sigilai</strong>
      </p>
    </div>
  </div>
</div>

<nav>
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item ">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>