// Color 
$colorGreen: #59bc65;
$colorGreenHover:rgb(54, 165, 69);
$colorGreenDarker: #1e5325;
$dark-blue: #087090;
$blue: #0ca2d0;
$light-yellow: #fff3cd;
$light-green: #d4edda;

// .btn {
// 	padding: 10px;
//   border-radius: 5px;
//   background: $colorGreen;
//   transition: all 0.2s ease;
//   color: white;
//   font-size: 13px;
//   border: none;
//   &:hover {
//     background: $colorGreenHover;
//     outline: 0.3px solid $colorGreenDarker;
//   }
// }

#ghinho {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    width: 400px;
    transition: width 0.4s;
}

#ghinho.animate {
    width: 95px;
    height: 42px;
    transition: width 0.4s;
}

.transform {
  transition: all 0.5s ease-out;
}

#ghinhoheader {
    padding: 5px;
    height: 42px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    cursor: move;
    z-index: 10;
    background-color: #0099ff;
    border-radius: 5px;
    color: #fff;
}

.faToggle {
    font-size: 30px !important;
}

/* GHIM */
#ghim-ghinho {
    cursor: pointer;
    font-size: 25px !important; 
    position: relative;
    top: 7px;
    left: -5px;
}

#ghim-ghinho:hover {
    color: rgba(226, 226, 226, 0.979);
    transition: all 0.15s ease-in;
}

.ghimChecked {
    color: #7cfd8e;
}

/* tooltip */
.tooltip_ {
    position: relative;
    float: right;
    display: inline-block;
    z-index: 100;
    // background: green;
    // border-bottom: 1px dotted black;
}

.tooltip_ .tooltiptext {
    // visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: -230%;
    margin-left: 0px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip_ .tooltiptext::after {
    content: "";
    position: absolute;
    top: -30%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
}

#ghim-ghinho:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* Nut toggle slice giua on va off */
.custom-check {
  width: 80px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #e5e5e5;
  background: #f5f5f5;
  display: inline-block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.custom-check input {
  display: none;
}
.custom-check i {
  width: 27px;
  height: 27px;
  border-radius: 30px;
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  border: 2px solid #b9b9b9;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #ececec;
  background: -moz-radial-gradient(center, ellipse cover, #ececec 0%, #c8c8c8 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ececec), color-stop(100%, #c8c8c8));
  background: -webkit-radial-gradient(center, ellipse cover, #ececec 0%, #c8c8c8 100%);
  background: -o-radial-gradient(center, ellipse cover, #ececec 0%, #c8c8c8 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ececec 0%, #c8c8c8 100%);
  background: radial-gradient(ellipse at center, #ececec 0%, #c8c8c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#c8c8c8', GradientType=1);
}
.custom-check input:checked + i {
  left: 50px;
}
.custom-check input + i + span {
  display: block;
}
.custom-check input + i + span:after {
  position: absoulute;
  display: block;
  width: 85px;
  padding-right: 17px;
  height: 30px;
  line-height: 27px;
  content: "notes";
  background: #ce3e3e;
  color: #992727;
  font-size: 13px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  text-align: right;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.custom-check input:checked + i + span:after {
  content: "notes";
  background: #59bc65;
  color: #3a8f44;
  width: 115px;
  text-align: left;
  padding-right: 0;
  padding-left: 9px;
}

.ghinho {
  &__content {
    // height: 300px;
    // background: $light-yellow;
    animation: toggleWidget 1.3s;
  }
}

.light-green {
  background: $light-green
}

.light-yellow {
  background: $light-yellow;
}

